p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    color: #ffffff;
    background-color: #004256;
    height: 50px;
    width: 100%;
}