
.card-Container {
    display: grid;
    grid-template-columns: 270px 270px 270px 270px;
    grid-template-rows: auto;
    row-gap: 60px;
    column-gap: 50px;
    justify-content: center;
    margin-top: 40px;
}

