
    <app-header></app-header>
    <app-filtro-ordenamiento (GeneroSeleccionado)="GeneroSeleccionado($event)" (OrdenSeleccionado)="OrdenSeleccionado($event)"></app-filtro-ordenamiento>
    <div class="card-Container">
    <app-cards class="app-cards" *ngFor="let item of moviesList; let i=index" [pelicula] = item></app-cards>
    </div>
    <app-paginacion [PActual] = "PaginaActual" [PTotales]="PaginasTotales" (PMovies)="PMovies($event)" (ChangePage)="ChangePage($event)"></app-paginacion>
    <app-footer class="footer"></app-footer>



