/********Fuentes-Tipográficas**********/
$primary-font: 'Jost', sans-serif;
$secondary-font: 'Inter', sans-serif;

/*******Variables-Color*******/
$background-color: #001C25;
$main-color: #006376;
$buttons-color: #5F8493;