div {
    display: grid;
    text-align: center;
    background-color: aquamarine;
    width: 200px;
}

img {
    justify-content: center;
    width: 200px;
    height: 300px;
}

p {
    margin-top: auto;
    font-size: 20px;
}