
@import '../../../variables.scss';

.container {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: $main-color;
    border-radius: 0px 0px 20px 0px;
    cursor: pointer;
    
}

.container:hover {
    transform: scale(1.10);
    box-shadow: 5px 5px 12px #000000;
}

img {
    justify-content: center;
    width: 270px;
    height: 370px;
}

.infoCard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 170px;
    
}

.card {
    background-color: $main-color;
    color: #ffffff;
    border: none;
}

.name{
    margin: 0px 10px 10px 10px;
    font-family: $primary-font;
    font-weight: 500;
    font-size: 22px;
}

.release_date {
    margin: 0px;
    font-family: $secondary-font;
    font-weight: 300;
    font-size: 15px;
}

.date {
    margin: 0px;
    font-family: $secondary-font;
    font-weight: 300;
    font-size: 15px;
}