<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item" (click)="prevPage()"><a class="page-link">Previous</a></li>
      <li class="page-item" (click)="cambiarPage(1)"><a class="page-link" >1</a></li>
      <li class="page-item" (click)="cambiarPage(2)"><a class="page-link" >2</a></li>
      <li class="page-item" (click)="cambiarPage(3)"><a class="page-link" >3</a></li>
      <li class="page-item" (click)="cambiarPage(4)"><a class="page-link" >4</a></li>
      <li class="page-item" (click)="cambiarPage(5)"><a class="page-link" >5</a></li>
      <li class="page-item"><a class="page-link" >...</a></li>
      <li class="page-item" (click)="nextPage()"><a class="page-link">Next</a></li>
    </ul>
  </nav>